<div class="about-wthree" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 about-right-bg"></div>
            <div class="col-lg-7 about-left-wthree bg-theme" data-blast="bgColor">
                <div class="title-desc text-right pb-sm-3">
                    <h3 class="main-title-w3pvt text-white text-capitalize">about us</h3>
                    <p class="text-white">Explore it all. The sky is the limit!</p>
                </div>
                <p class="my-3 text-right text-white child_second">Donec mi nulla, auctor nec sem a, ornare. Sed mi
                    tortorcomm odo a felis
                    in, fringilla tincidunt nulla. Vestibulum
                    volutpat non eros ut vulpuuctor, ornare auctor mi.Commodo a felis
                    lpuuctor nein.</p>
                <p class="my-3 text-right text-white child_second">Donec mi nulla, auctor nec sem a, ornare. Sed mi
                    tortorcomm odo a felis
                    in, fringilla tincidunt nulla.</p>
                <div class="ml-auto text-right">
                    <a href="#plans" class="text-capitalize text-dark w3_pvt-link-bnr btn bg-light scroll mt-sm-4">view
                            more</a>
                </div>
            </div>
        </div>
    </div>
</div>