<section class=" services-wthreepvt position-relative" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 service-sub-grids">
                <div class="d-flex services-box">
                    <span class="icon">
                            <i class="fa fa-pencil" data-blast="color"></i>
                        </span>
                    <div class="service-content">
                        <span>adipiscing</span>
                        <h4>sodalesd vulpu</h4>
                    </div>
                </div>
                <div class="d-flex services-box">
                    <span class="icon">
                            <i class="fa fa-rocket" data-blast="color"></i>
                        </span>
                    <div class="service-content">
                        <span>scingadipi</span>
                        <h4>sodalesd tortor</h4>
                    </div>
                </div>
                <div class="d-flex services-box">
                    <span class="icon">
                            <i class="fa fa-laptop" data-blast="color"></i>
                        </span>
                    <div class="service-content">
                        <span>ngsciadipi</span>
                        <h4>eu lorem fringilla</h4>
                    </div>
                </div>
                <div class="service-bottom-img">
                    <img src="assets/images/g1.jpg" alt="" class="img-fluid rounded" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-bottom">
                        <div class="service-txt">
                            <h5 data-blast="color">Explore it all. <br>The sky is the limit!</h5>
                            <p class="my-3 text-right">Donec mi nulla, auctor nec sem a, ornare. Sed mi
                                tortorcomm odo a felis
                                in, fringilla tincidunt nulla.</p>
                        </div>
                    </div>
                    <div class="my-auto service-top-img">
                        <img src="assets/images/p3.jpg" alt="" class="img-fluid rounded" />
                    </div>
                    </div>
                </div>
            </div>
</section>